*{
  margin:0;
  padding:0;
}
body{
  background-image: url("/Images/Azhar.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.container{
  width: 550px;
  height: 400px;
  border:2px solid gray;
  margin:auto;
  margin-top:120px;
  background-color: rgba(111, 155, 194, 0.142);
  backdrop-filter: blur(6px);
border-radius: 20px;
box-shadow: 0px 0px 40px gray;
}

.container h3{
  text-align: center;
  position: relative;
  top:40px;
  color:rgb(226, 67, 67);
  font-size: 20px;
}

.details{
  position: relative;
  top:120px;
  left:20px;
}

.details h4{
  color:rgb(226, 67, 67);
  font-size: 20px;
}

.details input{
  padding-right: 220px;
  background:none;
  border-radius: 5px;
  margin-bottom: 8px;
  height: 0px;
}

.details input:hover{
  height: 20px;
  transition: height 0.5s;
  cursor: pointer;
}

.details p{
  color:rgb(226, 67, 67);
  font-size: 12px;
  cursor: pointer;
}

.details p:hover{
  color:rgb(226,67,67,0.656);
  font-size: 12px;
}

.details button{
  margin-top: 20px;
  padding:5px 20px;
  font-size: 18px;
  background: none;
  border-radius: 8px;
  color:rgb(226, 67, 67);
}

.details button:hover{
  color:rgb(226,67,67,0.656);
  cursor: pointer;
}