*{
  margin:0;
  padding:0;
}
body{
  background-color: rgb(161, 237, 237);
  width: 100vw;
  height: 100vh;
}
.container{
  width: 400px;
  height: 500px;
  border:5px solid pink;
  border-radius: 10px;
  background-color: rgb(16, 135, 135);
  margin:50px auto;
  box-shadow: 2px 2px 50px black;
}
h3{
  position:relative;
  text-align: center;
  top:20px;
  font-size: 20px;
  color:wheat;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
  display: block;
  width: 50%;
  height: 20px;
  margin:auto;
  margin-top: 210px;
  padding: 10px 20px;
  background-color: wheat;
  border-left: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  border-radius: 20px;
  text-align: center;
  transition: 1s;
  cursor: pointer;
}
input:hover{
  width: 70%;
  height: 25px;
  letter-spacing: 3px;
}
::placeholder{
  text-align: center;
}
.pwd{
  margin-top:30px;
}
a{
  text-decoration:none;
}
a span{
  display: block;
  background-color: rgb(127, 225, 225);
  padding:10px 15px;
  width:10%;
  margin:20px auto;
  border-radius: 10px;
  font-size: 18px;
  color:gray;
  transition: 1s;
}
a span:hover{
  width:15%;
  letter-spacing: 3px;
}